$c_grey: #E5E5E5;
$c_grey2: #F4F4F4;
$c_grey3: #f8f8f8;
$c_grey4: #DFDFDF;
$c_grey5: #939393;
$c_grey6: #d7d7d7;
$c_grey7: #efefef;
$c_white: #fff;

$c_black: #3C3C3C;
$c_black2: #000;
$c_black3: #262626;

$c_red: #F42C50;

$f_merriweather: 'Merriweather';


// Sizes
$mobile-small-widths-only: "max-width:480px";
$mobile-widths-only: "max-width: 767px";
$tablet-widths: "min-width: 768px";
$tablet-widths-only: "max-width: 1199px";
$desktop-widths: "min-width: 1200px";
$small-desktop: "max-width:991px";

